{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container-fluid">
    <div class="card text-center">
        <img src="{{ produit.image }}" width="250" height="450" alt="">
        <div class="card-body">
            <h5 class="card-title">Titre de l'Oeuvre: {{ produit.title }}</h5>
        </div>
    </div>
    </div>

{#    #}
{#    <div class="container">#}
{#        <div class="col">#}
{#    <h1 class="title">Description de l'Oeuvre</h1>#}
{#<a href="/produit/55555"></a>#}
{#{{ produit.title }}#}
{#<img src="{{ produit.image }}" width="250" height="450" alt="">#}
{#        </div>#}
{#    </div>#}
{% endblock %}