<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
    <script src="https://kit.fontawesome.com/0f77bf6f9a.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}
    <link rel="icon" href="/assets/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/kevin.css">
    <link rel="stylesheet" href="/assets/css/cecile.css">
    <link rel="stylesheet" href="/assets/css/samir.css">
    {% endblock %}
</head>
<body>

{% block content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    const options = {
        // Required: API key
        key: 'h0NUA56jVxXfBxUIyfpFAWIidYAf52Tx', // REPLACE WITH YOUR KEY !!!

        // Put additional console output
        verbose: true,

        // Optional: Initial state of the map
        lat: 50.4,
        lon: 14.3,
        zoom: -1,
    };

    // Initialize Windy API
    windyInit(options, windyAPI => {
        // windyAPI is ready, and contain 'map', 'store',
        // 'picker' and other usefull stuff

        const { map } = windyAPI;
        // .map is instance of Leaflet map

        // L.popup()
        //     .setLatLng([50.4, 14.3])
        //     .setContent('Hello World')
        //     .openOn(map);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([45.64, -73.55]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Montreal.</button></a><br>Montreal')

        //####################
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([48.8, 2.3]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Paris.</button></a><br>Paris')

        //######################
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([51.507351,-0.127758]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Londres.</button></a><br>Londres')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([41.15,  -8.61]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Porto.</button></a><br>Porto')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([37.61, 139.91]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Tokyo.</button></a><br>Tokyo')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([-33.469120,-70.641997]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Sao Paulo.</button></a><br>Sao Paulo')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([41.90, 12.49]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Rome.</button></a><br>Rome')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([55.755826,37.6173]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Moscow.</button></a><br>Moscow')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([41.00, 28.97]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Istanbul.</button></a><br>Istanbul')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([31.235712,30.044420]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Le Caire.</button></a><br>Le Caire')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([33.9715904,   -6.8498129]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Rabat.</button></a><br>Rabat')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([ 40.4167754, -3.7037902]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Madrid.</button></a><br>Madrid')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


        L.marker([40.779897,-73.968565]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de New York.</button></a><br>New York')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([39.904211,116.407395]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Pekin.</button></a><br>Pekin')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([ -33.867487, 151.206990]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Sydney.</button></a><br>Sydney')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([48.75,7.3833]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Monswiller.</button></a><br>Monswiller')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([52.370216, 4.895168]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Amsterdam.</button></a><br>Amsterdam')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([ 33.325, 44.422]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Bagdad.</button></a><br>Bagdad')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([13.7563309, 100.5017651]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Bangkok.</button></a><br>Bangkok')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([  12.65,-8]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Bamako.</button></a><br>Bamako')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([52.520007,13.404954]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Berlin.</button></a><br>Berlin')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([19.432608, -99.133208]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Mexico.</button></a><br>Mexico')

        //#######################"""
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([-34.9011127, -56.1645314]).addTo(map)
            .bindPopup('<a href="Home/View/10786"><button type="button" class="btn btn-outline-light" id="btn-map">Venez découvrir l\'histoire de Montevideo.</button></a><br>Montevideo')
        //#######################"""
    });
</script>
</body>
</html>


